amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.24
funcsigs==1.0.2
kombu==3.0.37
mock==2.0.0
numpy==1.11.2
pandas==0.19.1
pbr==1.10.0
protobuf==3.0.0
py==1.4.31
pytest==3.0.3
python-dateutil==2.6.0
pytz==2016.7
redis==2.10.5
requests==2.11.1
scikit-learn==0.18
scipy==0.18.1
six==1.10.0
sklearn==0.0
tensorflow==0.11.0rc2
textmining==1.0
